


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>my web app</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/md5.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/myajax.js"></script>
    <script src="/static/js/vue.min.js"></script>
<script>

$(function() {
var vm = new Vue({
        el: '#judge',
        data: {n:' '  ,addr:''},
        methods: {
            onClick: function (e) {


                    // postApi('/api/json2',{'name':'cairuyuan','addr':this.addr},
                    //         function(err, res){
                    //             if (!err) {
                    //                 alert("成功 --> " + res);   
                    //                 //这里想根据res更改n，但是this的绑定已经变化了
                    //                 // $("#Score").text(res['res']);
                    //                 // document.getElementById("image").src= res['path']
                    //             };
                    //         }
                    //     );
                    // this.addr='';

    function w3r_callbackS(data){  alert("S -->  " + data);  }
    function w3r_callbackF(data){  alert("F -->  " + data);  }

        $.ajax({
                 type: "POST",   
                 dataType: "json",    
                 url: "https://192.168.2.3:81/api/json2",  
                 data: {'name':'cairuyuan','from':'monkey'},
                 success: function (data) { 
                    w3r_callbackS(data);   
                 },
                 error: function (err) {
                    w3r_callbackF(err);
                 }
          });



            }
        }
    });
})

</script>

</head>
<body class=" uk-text-center">
    <p></p>
    <h1 class=" uk-margin-large">Welcome</h1>
    
    <divt id = "judge" class = "uk-margin-large">
        <h2 id = 'Score' class="uk-article-lead" >{{'{{n}}'}}</h2>
        <input v-model='addr' id = 'addr' type="text" placeholder="输入网址" class="uk-width-1-2">
        <button v-on="click: onClick" class="uk-button uk-button-primary" type="button" >测试</button>
    </div>
    
    <hr class="uk-article-divider uk-margin-large">

    <article class="uk-article uk-text-center">
        <img id = 'image' src="/extractor/screenshot/" width="320" height="175" alt="网页照片"/>
    </article>


</body>
</html>