<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>my web app</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/md5.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/myajax.js"></script>
    <script src="/static/js/vue.min.js"></script>
<script>

$(() => {
const vm = new Vue({
    el: '#judge',
    data: {
      n: '',
      addr: '',
      imgSrc: '',
    },
    methods: {
      onClick() {
        postApi(
          '/api/json',
          {
            'name': 'cairuyuan',
            'addr': this.addr
          },
          (err, res) => {
            if (!err) {
              this.n = res.res // 这样写不就哦了么？
              this.imgSrc = res.path
            };
          },
        );
        this.addr='';
      },
    },
  });
})

</script>

</head>
<body class=" uk-text-center">
    <h1 class=" uk-margin-large">
      Welcome
    </h1>
    <div id="judge" class="uk-margin-large">
      <h2 class="uk-article-lead">{{n}}</h2>
      <input v-model='addr' id = 'addr' type="text" placeholder="输入网址" class="uk-width-1-2">
      <button @click="onClick" class="uk-button uk-button-primary" type="button" >测试</button>
    </div>

    <hr class="uk-article-divider uk-margin-large">

    <article class="uk-article uk-text-center">
        <img :src="imgSrc" width="320" height="175" alt="网页照片"/>
    </article>
</body>
</html>
